$border: rgb(76, 76, 76);
$primary-color: rgb(190, 198, 252);
$secondary-color: rgb(237, 238, 247);
$tertiary-color: rgb(96, 72, 251);

h2 {
  text-align: center;
}

#myBtn {
  cursor: pointer;
  background-color: $primary-color;
  border-radius: 5px;
  height: 50px;
  width: 70px;
}

.header {
  color: $tertiary-color;
  border: solid 4px $border;
  background-color: $primary-color;
  border-radius: 5px;
  width: fit;
  text-align: center;
  font-size: 45px;
  margin: 15px;
}

.book-cover {
  width: 145px;
  height: 195px;
  border-radius: 5px;
}

.row {
  width: 50%;
  min-width: 600px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.column {
  border: solid 4px $border;
  background-color: $secondary-color;
  width: 450px;
  height: 300px;
  border-radius: 5px;
  display: inline-block;
  flex: 25%;
  margin: 15px;
  text-align: center;
}

.footer {
}
